Language:        Cpp
Standard:        c++20


# The following is close to the style we've been using all these years
# without formalizing it.  Formatting won't be enforced, but this file
# can help if you want to use the general feel of the library.

# General appearance:

BasedOnStyle: Google 

IndentWidth: 4
ColumnLimit: 150
NamespaceIndentation: All
MaxEmptyLinesToKeep: 1
FixNamespaceComments: true

# Function declarations:
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  AfterClass: false
  AfterCaseLabel: false
  AfterFunction: false
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse : true
  SplitEmptyFunction: false

BinPackParameters: false
BinPackArguments : false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes

# T& x, not T &x:

DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
KeepEmptyLinesAtTheStartOfBlocks: false

AllowAllParametersOfDeclarationOnNextLine: false
SortIncludes: true
IncludeBlocks: Merge
IncludeCategories: 
  - Regex:           '^<curvemanager/'
    Priority:        1
  - Regex:           '^<ql/'
    Priority:        2
  - Regex:           '^<qlp/'
    Priority:        3
  - Regex:           '^<qle/'
    Priority:        4
  - Regex:           '^<boost/'
    Priority:        5
  - Regex:           '^"'
    Priority:        6
  - Regex:           '^<'
    Priority:        7
  

# Other:

AlignEscapedNewlines: Left
BreakBeforeTernaryOperators: false
ConstructorInitializerIndentWidth: 0
SortUsingDeclarations: true
IndentCaseLabels: true


